/* Common Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.8rem;
}

h1 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.6rem;
    position: relative;
    display: inline-block;
}

h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 40px;
    height: 3.2px;
    background-color: var(--accent-color);
    border-radius: 1.6px;
}

p {
    line-height: 1.6;
    margin-bottom: 0.8rem;
}

.btn {
    display: inline-block;
    background-color: var(--accent-color);
    color: white;
    padding: 0.72rem 0.8rem;
    border-radius: 24px;
    margin-right: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 113, 227, 0.4);
}

.btn:hover {
    background-color: #0062c2;
    transform: translateY(-1.6px);
    box-shadow: 0 6.4px 16px rgba(0, 113, 227, 0.5);
}

.text-center {
    text-align: center;
}

.mb-2 {
    margin-bottom: 1.6rem;
}

.mb-4 {
    margin-bottom: 3.2rem;
}