/* CV Button */

.cv-button {
    display: inline-block;
    background: linear-gradient(90deg, #4273e6, #393cfa);
    color: white;
    border: none;
    padding: 11.2px 19.2px;
    border-radius: 24px;
    margin-top: 16px;
    margin-right: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
}

.cv-button:hover {
    transform: translateY(-2.4px);
    box-shadow: 0 4px 12px rgba(71, 118, 230, 0.4);
}